[user]
    name = Lucas Godoy
    email = 2lucasg@gmail.com

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    s = stash
    who = shortlog -s --
    last = log -1 -p HEAD
    unstage = reset HEAD --
    aliases = "!git config -l | grep alias | cut -c 7-"
    conflicts = "!git ls-files -u | cut -f 2 | sort -u | xargs -o $EDITOR"
    open="!open `git remote -v | awk '/fetch/{print $2}' | sed -Ee 's#(git@|git://)#http://#' -e 's@com:@com/@'`| head -n1"
    hist = log --graph --pretty=format:'%Cred%h %Cgreen%ad%Creset -%C(yellow)%d %Creset%s%C(bold blue) [%cn]%Creset' --decorate --date=short
    shorthist = log --graph --pretty=format:'%Cred%h %Cgreen%ad%Creset -%C(yellow)%d %Creset%<(35,trunc)%s%C(bold blue) [%cn]%Creset' --decorate --date=short
    logfiles = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)[%an]%Creset' --decorate --numstat
    fetchbranches = "!for remote in `git branch -r | grep -v /HEAD`; do git checkout --track $remote ; done"

[core]
    editor = nvim
    excludesfile = /Users/lucas/.gitignore
    quotepath = false

[color]
    ui = true

[credential]
    helper = cache --timeout=7200

[merge]
    tool = vimdiff

[push]
    default = matching

[url "https://"]
    insteadOf = git://

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
