[user]
    name = Lucas Godoy
    email = 2lucasg@gmail.com

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    sl = stash list
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    top = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short -5
    last = log -1 -p HEAD
    unstage = reset HEAD --
    visual = !gitg
    conflicts = diff --name-only --diff-filter=U

[core]
    editor = vim

[color]
    ui = true

[credential]
    helper = cache --timeout=7200

[merge]
    tool = vimdiff
